Repository codestates/Roadgram, pull requests merged in 2022-04, with the labels that each got.

#304 Add users unit test and code fix
  server/src/guards/auth.guard.spec.ts
  server/src/users/repositories/user.repository.ts
  server/src/users/users.controller.spec.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
Labels: server, refactoring

#305 Fix comments API script and Add unit test
  server/src/comments/comments.controller.spec.ts
  server/src/comments/comments.service.spec.ts
  server/src/comments/comments.service.ts
  server/src/comments/repositories/comments.repository.ts
Labels: server, refactoring

#312 Fix error catch in articles & search service
  server/src/articles/articles.service.spec.ts
  server/src/articles/articles.service.ts
  server/src/articles/repositories/article.repository.ts
  server/src/articles/repositories/article_tag.repository.ts
  server/src/search/search.service.spec.ts
  server/src/search/search.service.ts
Labels: server, refactoring

#315 Add swagger api in articles & search controller
  server/package-lock.json
  server/package.json
  server/src/articles/articles.controller.ts
  server/src/articles/articles.service.spec.ts
  server/src/articles/articles.service.ts
  server/src/articles/dto/createArticle.dto.ts
  server/src/articles/dto/updateArticle.dto.ts
  server/src/articles/response/createArticle.response.ts
  server/src/articles/response/deleteArticle.response.ts
  server/src/articles/response/getArticleDetail.response.ts
  server/src/articles/response/getMain.response.ts
  server/src/articles/response/getRecent.response.ts
  server/src/articles/response/updateArticle.response.ts
  server/src/comments/comments.controller.ts
  server/src/follow/follow.controller.ts
  server/src/likes/likes.controller.ts
  server/src/main.ts
  server/src/search/response/searchArticle.response.ts
  server/src/search/search.controller.ts
  server/src/search/search.service.spec.ts
  server/src/search/search.service.ts
  server/src/users/users.controller.ts
Labels: server, refactoring

#321 Add swagger api to comments api
  server/src/articles/response/getArticleDetail.response.ts
  server/src/comments/comments.controller.ts
  server/src/comments/dto/comments.dto.ts
  server/src/comments/response/createComment.response.ts
  server/src/comments/response/deleteComment.response.ts
  server/src/comments/response/getComments.response.ts
  server/src/comments/response/modifyComment.response.ts
Labels: server, refactoring

#322 Add swagger api to follow api
  server/src/articles/response/getMain.response.ts
  server/src/follow/dto/follow.dto.ts
  server/src/follow/follow.controller.ts
  server/src/follow/response/followUnfollow.response.ts
  server/src/follow/response/getFollowerList.response.ts
  server/src/follow/response/getFollowingList.response.ts
  server/src/search/response/searchArticle.response.ts
Labels: server, refactoring

#323 Add swagger api to like api
  server/src/likes/dto/likes.dto.ts
  server/src/likes/likes.controller.ts
  server/src/likes/response/likeUnlike.response.ts
Labels: server, refactoring

#324 Add Swagger API to Users API
  server/src/follow/dto/follow.dto.ts
  server/src/likes/dto/likes.dto.ts
  server/src/users/dto/auth.dto.ts
  server/src/users/dto/createUser.dto.ts
  server/src/users/dto/login.dto.ts
  server/src/users/response/checkEmail.response.ts
  server/src/users/response/checkNickname.response.ts
  server/src/users/response/deleteUser.response.ts
  server/src/users/response/getMypage.response.ts
  server/src/users/response/getTokenKakao.response.ts
  server/src/users/response/login.response.ts
  server/src/users/response/logout.response.ts
  server/src/users/response/modifyUser.response.ts
  server/src/users/response/refreshAccessToken.response.ts
  server/src/users/response/signup.response.ts
  server/src/users/users.controller.ts
Labels: server, refactoring

#331 Add popularTagRecommendation to server & client
  client/public/index.html
  client/src/components/Comments.tsx
  client/src/components/Modals/Mypage/FollowerModal.tsx
  client/src/components/Navigator.tsx
  client/src/components/PopularTag.tsx
  client/src/pages/MainPage.tsx
  client/src/pages/SearchPage.tsx
  client/src/style.scss
  client/src/styles/components/_popularTag.scss
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/articles/articles.controller.spec.ts
  server/src/articles/articles.controller.ts
  server/src/articles/articles.module.ts
  server/src/articles/articles.service.spec.ts
  server/src/articles/articles.service.ts
  server/src/articles/entities/article.entity.ts
  server/src/articles/entities/tag.entity.ts
  server/src/articles/entities/tagHits.entity.ts
  server/src/articles/repositories/article.repository.ts
  server/src/articles/repositories/article_tag.repository.ts
  server/src/articles/repositories/tagHits.repository.ts
  server/src/search/search.module.ts
  server/src/search/search.service.spec.ts
  server/src/search/search.service.ts
Labels: server, client, refactoring

#334 Add chat server and view page
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/Navigator.tsx
  client/src/pages/ChatRoomsPage.tsx
  client/src/pages/UserInfo.tsx
  client/src/style.scss
  client/src/styles/components/_navigator.scss
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/chat/chat.gateway.spec.ts
  server/src/chat/chat.gateway.ts
Labels: server, client

#335 Add chat room page CSS
  client/src/styles/pages/_chatRoomsPage.scss
Labels: client

#337 Add article hits icon to main, search, userinfo page
  client/src/components/Article.tsx
  client/src/pages/UserInfo.tsx
  client/src/styles/pages/_mainPage.scss
  server/src/search/search.service.ts
  server/src/users/users.service.ts
Labels: server, client, refactoring

#339 Fix Navigator structure and CSS
  client/src/components/Navigator.tsx
  client/src/styles/components/_navigator.scss
Labels: client
